@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* Gobal Styles */
:root {
  /* Primary Colors */
  --very-dark-grey: #18171f;
  --dark-grey: #24232c;
  --grey: #817d92;
  --almost-white: #e6e5ea;

  /* Secondary Colors */
  --neon-green: #a4ffaf;
  --red: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;

  /* Typography Variables */
  --font-family: "JetBrains Mono", monospace;
  --font-weight-bold: 700;

  /* Sizes */
  --heading-font-size: 2rem;
  --heading-line-height: 43px;
  --medium-heading-font-size: 1.5rem;
  --medium-heading-line-height: 31px;
  --body-font-size: 1.125rem;
  --body-line-height: 23px;
}

/* CSS Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  outline: none;
  background: none;
  font: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  background-color: var(--very-dark-grey);
  color: var(--almost-white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 540px;
}

.title {
  font-size: var(--medium-heading-font-size);
  line-height: var(--medium-heading-line-height);
  color: var(--grey);
  text-align: center;
  margin-bottom: 31px;
}

.password-icon-container {
  background-color: var(--dark-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 28px 19px 32px;
  margin-bottom: 24px;
}

.password {
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  opacity: 25%;
}

.icon:hover path {
  fill: var(--almost-white);
}

.form-container {
  background-color: var(--dark-grey);
  padding: 24px 32px 32px;
}

.slider-container {
  margin-bottom: 32px;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

.slider-value {
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  color: var(--neon-green);
}
